#gallery {
  height: 100vh;
  background: #eee;
  text-align: center;
  padding: 100px 20px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  padding: 20px;
}

.gallery img {
  width: 100%;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.1);
}
.img{
    text-align: center;
    background-color: aqua;
}